[Desktop Entry]
Name = Indicator-Sensors
GenericName = Indicator-Sensors
Comment = An indicator for sensors on an Orange Pi Zero
Exec = /home/restorer/bin/indicator-sensors
Icon = /home/restorer/Documents/devel/sensor-indicator/resources/large_degree_light.png
Type = Application
Terminal = false
StartupNotify = true
Encoding = utf-8
Categories = Utility;
Name[pt] = Indicator-Sensors
Name[uk] = Indicator-Sensors
Name[ja] = Indicator-Sensors
Name[is] = Indicator-Sensors
Name[te] = Indicator-Sensors
Name[lv] = Indicator-Sensors
Name[sr] = Indicator-Sensors
Name[eo] = Indicator-Sensors
Name[en_GB] = Indicator-Sensors
Name[gl] = Indicator-Sensors
Name[fi] = Indicator-Sensors
Name[sl] = Indicator-Sensors
Name[vi] = Indicator-Sensors
Name[eu] = Indicator-Sensors
Name[be] = Indicator-Sensors
Name[ta] = Indicator-Sensors
Name[ml] = Indicator-Sensors
Name[it] = Indicator-Sensors
Name[hi] = Indicator-Sensors
Name[cs] = Indicator-Sensors
Name[he] = Indicator-Sensors
Name[pl] = Indicator-Sensors
Name[sv] = Indicator-Sensors
Name[pt_BR] = Indicator-Sensors
Name[ro] = Indicator-Sensors
Name[fr] = Indicator-Sensors
Name[en_AU] = Indicator-Sensors
Name[ca] = Indicator-Sensors
Name[nl] = Indicator-Sensors
Name[ko] = Indicator-Sensors
Name[tr] = Indicator-Sensors
Name[ca@valencia] = Indicator-Sensors
Name[lt] = Indicator-Sensors
Name[ru] = Indicator-Sensors
Name[sr@latin] = Indicator-Sensors
Name[ar] = Indicator-Sensors
Name[es] = Indicator-Sensors
Name[bg] = Indicator-Sensors
Name[si] = Indicator-Sensors
Name[zh_TW] = Indicator-Sensors
Name[sk] = Indicator-Sensors
Name[ms] = Indicator-Sensors
Name[et] = Indicator-Sensors
Name[el] = Indicator-Sensors
Name[ber] = Indicator-Sensors
Name[hu] = Indicator-Sensors
Name[en] = Indicator-Sensors
Name[hr] = Indicator-Sensors
Name[zh_CN] = Indicator-Sensors
Name[de] = Indicator-Sensors
GenericName[pt] = Indicator-Sensors
GenericName[uk] = Indicator-Sensors
GenericName[ja] = Indicator-Sensors
GenericName[is] = Indicator-Sensors
GenericName[te] = Indicator-Sensors
GenericName[lv] = Indicator-Sensors
GenericName[sr] = Indicator-Sensors
GenericName[eo] = Indicator-Sensors
GenericName[en_GB] = Indicator-Sensors
GenericName[gl] = Indicator-Sensors
GenericName[fi] = Indicator-Sensors
GenericName[sl] = Indicator-Sensors
GenericName[vi] = Indicator-Sensors
GenericName[eu] = Indicator-Sensors
GenericName[be] = Indicator-Sensors
GenericName[ta] = Indicator-Sensors
GenericName[ml] = Indicator-Sensors
GenericName[it] = Indicator-Sensors
GenericName[hi] = Indicator-Sensors
GenericName[cs] = Indicator-Sensors
GenericName[he] = Indicator-Sensors
GenericName[pl] = Indicator-Sensors
GenericName[sv] = Indicator-Sensors
GenericName[pt_BR] = Indicator-Sensors
GenericName[ro] = Indicator-Sensors
GenericName[fr] = Indicator-Sensors
GenericName[en_AU] = Indicator-Sensors
GenericName[ca] = Indicator-Sensors
GenericName[nl] = Indicator-Sensors
GenericName[ko] = Indicator-Sensors
GenericName[tr] = Indicator-Sensors
GenericName[ca@valencia] = Indicator-Sensors
GenericName[lt] = Indicator-Sensors
GenericName[ru] = Indicator-Sensors
GenericName[sr@latin] = Indicator-Sensors
GenericName[ar] = Indicator-Sensors
GenericName[es] = Indicator-Sensors
GenericName[bg] = Indicator-Sensors
GenericName[si] = Indicator-Sensors
GenericName[zh_TW] = Indicator-Sensors
GenericName[sk] = Indicator-Sensors
GenericName[ms] = Indicator-Sensors
GenericName[et] = Indicator-Sensors
GenericName[el] = Indicator-Sensors
GenericName[ber] = Indicator-Sensors
GenericName[hu] = Indicator-Sensors
GenericName[en] = Indicator-Sensors
GenericName[hr] = Indicator-Sensors
GenericName[zh_CN] = Indicator-Sensors
GenericName[de] = Indicator-Sensors
Comment[pt] = Indicator-Sensors
Comment[uk] = Indicator-Sensors
Comment[ja] = Indicator-Sensors
Comment[is] = Indicator-Sensors
Comment[te] = Indicator-Sensors
Comment[lv] = Indicator-Sensors
Comment[sr] = Indicator-Sensors
Comment[eo] = Indicator-Sensors
Comment[en_GB] = Indicator-Sensors
Comment[gl] = Indicator-Sensors
Comment[fi] = Indicator-Sensors
Comment[sl] = Indicator-Sensors
Comment[vi] = Indicator-Sensors
Comment[eu] = Indicator-Sensors
Comment[be] = Indicator-Sensors
Comment[ta] = Indicator-Sensors
Comment[ml] = Indicator-Sensors
Comment[it] = Indicator-Sensors
Comment[hi] = Indicator-Sensors
Comment[cs] = Indicator-Sensors
Comment[he] = Indicator-Sensors
Comment[pl] = Indicator-Sensors
Comment[sv] = Indicator-Sensors
Comment[pt_BR] = Indicator-Sensors
Comment[ro] = Indicator-Sensors
Comment[fr] = Indicator-Sensors
Comment[en_AU] = Indicator-Sensors
Comment[ca] = Indicator-Sensors
Comment[nl] = Indicator-Sensors
Comment[ko] = Indicator-Sensors
Comment[tr] = Indicator-Sensors
Comment[ca@valencia] = Indicator-Sensors
Comment[lt] = Indicator-Sensors
Comment[ru] = Indicator-Sensors
Comment[sr@latin] = Indicator-Sensors
Comment[ar] = Indicator-Sensors
Comment[es] = Indicator-Sensors
Comment[bg] = Indicator-Sensors
Comment[si] = Indicator-Sensors
Comment[zh_TW] = Indicator-Sensors
Comment[sk] = Indicator-Sensors
Comment[ms] = Indicator-Sensors
Comment[et] = Indicator-Sensors
Comment[el] = Indicator-Sensors
Comment[ber] = Indicator-Sensors
Comment[hu] = Indicator-Sensors
Comment[en] = Indicator-Sensors
Comment[hr] = Indicator-Sensors
Comment[zh_CN] = Indicator-Sensors
Comment[de] = Indicator-Sensors
